header {
    
    height: 16.6vh;
}

nav {
    
    /* background-color: blue; */
    height: 16.6vh;
}

article {
     
    /* background-color: green; */
    height: auto;
}

h1 {
    padding: 1rem;
}

article p {
    padding: 1rem;
}

strong {
    color: red;
}

aside {
    
    /* background-color: yellow; */
    height: auto;
}

.img_aside{
    display: flex;
    justify-content: center;
}

aside img{
    width: 450px;
}

#wiki{
    margin-bottom: 2rem;
    margin-left: 1rem;
}

#wiki a{
    text-decoration: none;
}

#texto{
    font-size: 50px;
    font-weight: bolder;
    background-image: url("../img/foto_texto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer{
    height: 8.3vh;
}


/* Mediaqueri */



[class*="col-"] {
    float: left;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.col-0 {display:none;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
    header{height: 25vh;}
    nav {height: 25vh;}
    .indice {
        font-size: 2rem; 
        padding: 1rem;  
    }
    #article {
        height: auto;
        padding: 1rem;
    }
    aside img{
        width: 600px;
        height: auto;
    }
    #wiki{
        height: auto;
    }
    .img_aside{
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }
    #aside{height: 84.4vh;}
    footer {height: 25vh;}
}